{% extends "user/header.html" %}
{% block title %}积分兑换会员卡密{% endblock %}
{% block css %}
    <!--对话框插件css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user/js/jquery-confirm/jquery-confirm.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user/css/style.min.css') }}">
    <!--日期选择器css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user/js/bootstrap-datepicker/bootstrap-datepicker3.min.css') }}">
    <!--时间日期选择器css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user/css/style.min.css') }}">
    <!--对话框插件css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user/js/jquery-confirm/jquery-confirm.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user/css/style.min.css') }}">
{% endblock %}


{% block content %}
    <!--页面主要内容-->
    <main class="lyear-layout-content">

        <div class="container-fluid">

            <div class="row">

                <div class="col-lg-12">
                    <div class="card">
                        <header class="card-header"><div class="card-title">积分兑换会员卡密</div></header>
                        <div class="card-body">

                            <form id="form" class="form">

                                <div class="mb-3">
                                    <label for="kami_lib" class="form-label">会员的类型</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="kami_lib" id="kami_lib1" value="抓包" checked>
                                        <label class="form-check-label" for="kami_lib1">
                                            软件抓包
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="kami_lib" id="kami_lib2" value="扫码">
                                        <label class="form-check-label" for="kami_lib2">
                                            微信扫码
                                        </label>
                                    </div>
                                    <small class="form-text">会员的类型：抓包：需要软件抓包;扫码：直接微信授权</small>
                                </div>

                                <div class="mb-3">
                                    <label for="kami_day" class="form-label">会员的天数</label>
                                    <input class="form-control" type="text" id="kami_day" name="kami_day" value="{% if UserCredit < 10 %}账户积分不足兑换任何会员卡密{% else %}10{% endif %}" placeholder="请输入卡密包含的天数">
                                    <small class="form-text">单价：抓包：1积分一天；扫码：2积分一天。</small>
                                    <small class="form-text" style="color: #6f42c1">最低兑换限制：10天</small>
                                    <small class="form-text" style="color: #c14242">你的积分余额为：{{ UserCredit }}个</small>

                                </div>

                                <div class="mb-3">
                                    <label for="kami_data" class="form-label">卡密输出</label>
                                    <textarea class="form-control" id="kami_data" rows="5" name="kami_data" disabled="abcd"></textarea>
                                    <small class="form-text">卡密生成后的输出</small>
                                </div>

                                <div class="mb-3 col-md-12">
                                    <button id="login-btn" type="submit" class="btn btn-primary">添加</button>
                                    <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </main>
    <!--End 页面主要内容-->
{% endblock %}


{% block js %}
    <!--tags插件-->
    <script type="text/javascript" src="{{ url_for('static', filename='user/js/jquery-tagsinput/jquery.tagsinput.min.js') }}"></script>
    <!--灯箱效果插件-->
    <script type="text/javascript" src="{{ url_for('static', filename='user/js/magnific-popup/magnific-popup.min.js') }}"></script>
    <!--通知消息插件-->
    <script type="text/javascript" src="{{ url_for('static', filename='user/js/bootstrap-notify.min.js') }}"></script>
    <!--对话框插件js-->
    <script type="text/javascript" src="{{ url_for('static', filename='user/js/jquery-confirm/jquery-confirm.min.js') }}"></script>

    <!--时间选择-->
    <script type="text/javascript" src="{{ url_for('static', filename='user/js/momentjs/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='user/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='user/js/momentjs/locale/zh-cn.min.js') }}"></script>
    <!--表单验证插件-->
    <script src="{{ url_for('static', filename='user/js/formvalidation/js/formValidation.js') }}"></script>
    <script src="{{ url_for('static', filename='user/js/formvalidation/js/framework/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='user/js/formvalidation/js/language/zh_CN.js') }}"></script>
    <!--对话框插件-->
    <script type="text/javascript" src="{{ url_for('static', filename='user/js/jquery-confirm/jquery-confirm.min.js') }}"></script>
    <script>
    $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token() }}');
                }
            }
        });
        $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
            if (jqxhr.status === 400) {
                // 跳转到CSRF验证失败的页面
                window.location.href = '{{ url_for('csrf_error_index') }}';
            }
        });
        //前端表单验证
        $('#form').formValidation({
            fields: {
                kami_lib: {
                    validators: {
                        notEmpty: true,
                    }
                },
                kami_day: {
                    validators: {
                        notEmpty: true,
                    }
                },
            }
        }).on('success.form.fv', function (e) {
            //阻止表单提交
            e.preventDefault();
            //得到表单对象
            let $form = $(e.target);
            let data = $form.serialize();
            const kami_day = $("#kami_day").val();
            if (kami_day.search('不足') !== -1){
                $.alert("积分不足,兑换失败");
                return;
            }
            //得到序列化数据
            $.ajax({
                url: "{{ url_for('user_vip.credit_vip') }}",
                method: 'POST',
                data
            }).then(function (res) {
                $.alert(res.msg);
                if(res.code===200){
                    var kami_data = document.getElementById('kami_data');
                    kami_data.value = res.kami;
                    notify(res.msg, 'success', 1500);
                }
                else{
                    notify(res.msg, 'danger', 3000);

                }

            });
        });

    </script>
{% endblock %}
