<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="keywords" content="观后无感,无感阳光跑,自动跑,无需抓包">
    <meta name="description" content="无感阳光跑,每天自动跑,跑完邮件或微信推送跑步状态">
    <meta name="author" content="yinq">
    <title>重置密码</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user/css/animate.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user/css/style.min.css') }}">
    <style>
        .signin-form .has-feedback {
            position: relative;
        }
        .signin-form .has-feedback .form-control {
            padding-left: 36px;
        }
        .signin-form .has-feedback .mdi {
            position: absolute;
            top: 0;
            left: 0;
            right: auto;
            width: 36px;
            height: 36px;
            line-height: 36px;
            z-index: 4;
            color: #dcdcdc;
            display: block;
            text-align: center;
            pointer-events: none;
        }
        .signin-form .has-feedback.row .mdi {
            left: 15px;
        }
    </style>
</head>

<body class="center-vh" style="background-image: url({{ url_for('static', filename='user/images/login-bg-1.jpg') }}); background-size: cover;">
<div class="card card-shadowed p-5 mb-0 mr-2 ml-2">
    <div class="text-center mb-3">
        <a href="{{ url_for('user.user_index') }}"> <h2 style="color: rgba(231,203,62,0.57)">重置密码</h2> </a>
    </div>

    <form action="#!" method="post" class="signin-form needs-validation" novalidate>
        <div class="mb-3 has-feedback">
            <span class="mdi mdi-form-textbox-password" aria-hidden="true"></span>
            <input type="password" class="form-control" id="password" name="password" placeholder="填写你要设置的新密码" required>
            <div class="valid-feedback"></div>
        </div>

        <div class="mb-3 has-feedback">
            <span class="mdi mdi-form-textbox-password" aria-hidden="true"></span>
            <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="再次填写你要设置的密码" required>
            <div class="valid-feedback"></div>
        </div>

        <div class="mb-3 d-grid">
            <button class="btn btn-primary" type="submit">重置密码</button>
        </div>
    </form>

    <p class="text-center text-muted mb-0">Copyright © 2022 <a target="_blank" href="//www.blog18.cn">观后无感</a>. All right reserved</p>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='user/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='user/js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='user/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='user/js/lyear-loading.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='user/js/bootstrap-notify.min.js') }}"></script>
<script type="text/javascript">
    $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token() }}');
                }
            }
        });
        $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
            if (jqxhr.status === 400) {
                // 跳转到CSRF验证失败的页面
                window.location.href = '{{ url_for('csrf_error_index') }}';
            }
        });
    var loader;
    $(document).ajaxStart(function(){
        $("button:submit").html('处理中...').attr("disabled", true);
        loader = $('button:submit').lyearloading({
            opacity: 0.2,
            spinnerSize: 'nm'
        });
    }).ajaxStop(function(){
        loader.destroy();
        $("button:submit").html('重置密码').attr("disabled", false);
    });
    $('.signin-form').on('submit', function(event) {
        if ($(this)[0].checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
            $(this).addClass('was-validated');
            return false;
        }else {
            var password = document.getElementById('password').value;
            var password_confirmation = document.getElementById('password_confirmation').value;
            if (password !== password_confirmation) {
                notify("两次输入的密码不一样", 'danger', 1500);
                return false;
            }
        }


        var $data  = $(this).serialize();

        $.post($(this).attr('action'), $data, function(res) {
            if (res.code===200) {
                notify(res.msg, 'success', 1500);
                setTimeout(function () {
                    location.href = '{{ url_for('user.user_login') }}';
                }, 1500);
            } else {
                if(res.msg){
                    notify(res.msg, 'danger', 2000);
                }
                else{
                    var errors = res.errors;
                    for(var field in errors){
                        var error = errors[field];
                        document.getElementById(field).classList.add('is-invalid');
                        document.getElementById(field).parentElement.querySelector('.invalid-feedback').innerHTML = error;
                    }
                }

                $('#password').val('');
                $('#password_confirmation').val('');
                $("#captcha").click();
            }
        }).fail(function () {
            notify('服务器错误', 'danger', 2000);
        });

        return false;
    });
</script>
</body>
</html>